@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto&display=swap');

/* remove default border from react quill */
.ql-container.ql-snow {
  border: none;
}
.displayNote {
    background-color: rgb(241, 241, 241);
    height: 600px;
    width: 1200px;
    word-break: break-all;white-space: pre-wrap;
    white-space: pre-wrap;
    outline: none !important;
    font-size: 12px;
    border: 1px solid rgb(228, 228, 228);
    border: none;
    /* box-shadow: rgb(148 148 161 / 20%) 0px 2px 25px 0px; */
    /* box-shadow: rgba(148, 148, 161, 0.2) 0px 2px 15px 0px; */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    margin-bottom: 10px;


}






.create-delete {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    letter-spacing: 1.5px;
    font-size: 13px;
    padding: 10px 15px;
    width: 100px;
    text-align: center;
    background-color: #778f7d;
    transition-duration: .2;
    margin-top: 10px;
    font-family: 'Roboto', sans-serif;
    z-index: 9;
    align-self: flex-end;
    border:none;
}

.create {
    background-color: #35a753;

}

.create:hover{
    background-color: #0cca3f;
    transition-duration: .2s;
    transition-property: background-color;
}

#delete {
    background-color: rgb(233, 94, 94);
}

#delete:hover {
    background-color: rgb(214, 46, 46);
    transition-duration: .2s;
    transition-property: background-color;
}


#testing {
    list-style: none;
    margin-top: 20px;
}


/* CURRENT NOTE */

.notification {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(209, 209, 209);
    color: black;
    position: absolute;
    right: 50%;
    /* note sure why margin 0 auto doesnt work here */
    transform: translate(50%, 50%);
    top:15px;
    width: 200px;
    height: 75px;
    border-radius: 15px;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#notification-check {
    color: rgb(80, 206, 80);
    margin-left: 10px;
}


#create-link {
    /* color: #fff; */
    /* font-weight: bold; */
    text-decoration: none;
    /* border-radius: 3px; */
    /* letter-spacing: 1.5px; */
    /* font-size: 13px; */
    /* padding: 10px 15px; */
    /* width: 100px; */
    /* text-align: center; */
    /* background-color: #21ac46; */
    /* transition-duration: .2; */
    /* margin-top: 10px; */
    /* font-family: 'Roboto', sans-serif; */
    /* z-index: 12; */
    /* position: absolute; */
    /* right: 225px;
    top: 65px; */
    /* box-shadow: rgba(148, 148, 161, 0.2) 0px 2px 25px 0px; */
}

/* #create-link > * {
  margin: 0;
  padding: 0;
} */

/* #create-link:hover {
    background-color: #0cca3f;
    transition-duration: .2s;
    transition-property: background-color;
} */


#saving-icon {
 color: #00a82d;
 font-size: 17px;
 margin-bottom: -3px;
 margin-right: 5px;
}

.spin {
  animation-name: spin;
  animation-duration: 1250ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}
