@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto&display=swap');

#user {
    position: absolute;
    right: 25px;
    top:25px;
    z-index: 100;
}

.displayNote {
    background-color: rgb(241, 241, 241);
    /* background-color: red; */
    height: 500px;
    width: 750px;
    /* z-index: -1; */
    word-break: break-all;white-space: pre-wrap;
    margin-top: 50px;
    white-space: pre-wrap;

    /* background-color: red;
    display: flex;
    align-items: flex-start; */

}

#edit-form {
        /* background-color: gray; */
        /* width: 750px; */
         display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

}




.create-delete {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid gray;
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    color: rgb(226, 226, 226);

}

.create {
    background-color: #00a82d;

}

.create:hover{
    background-color: #0cca3f;
    transition-duration: .2s;
    transition-property: background-color;
}

#delete {
    background-color: rgb(233, 94, 94);
}

#delete:hover {
    background-color: rgb(209, 71, 71);
    transition-duration: .2s;
    transition-property: background-color;
}

.title-container {
    /* background-color: red; */
    /* height: 120px;
    border: 1px solid gray;
    padding: 10px;
    width: 750px; */
}


#testing {
    /* background-color: red; */
    list-style: none;
    margin-top: 20px;
    /* margin-bottom: 50px; */

}


/* CURRENT NOTE */

.notification {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(209, 209, 209);
    color: black;
    position: absolute;
    right: 50%;
    /* note sure why margin 0 auto doesnt work here */
    transform: translate(50%, 50%);
    top:15px;
    width: 200px;
    height: 75px;
    border-radius: 15px;
    text-align: center;
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#notification-check {
    color: rgb(80, 206, 80);
    margin-left: 10px;
}


#create-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    letter-spacing: 1.5px;
    font-size: 16px;
    padding: 16px 30px;
    background-color: #00a82d;
    transition-duration: .2;
    position: absolute;
    right: 150px;
    top:150px;
    font-family: 'Roboto', sans-serif;
    z-index: 12;
}

#create-link:hover {
    background-color: #0cca3f;
    transition-duration: .2s;
    transition-property: background-color;
}
