@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto&display=swap");

/* #bg {
    background-color: #292929;
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;

} */

#note-link-column {
  font-family: "Roboto", sans-serif;
  color: #1a1a1a;
  position: absolute;
  background-color: rgb(226, 226, 226);
  min-width: 270px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  margin: 0;
  left: 270px;
  top: 0;
  height: 100vh;
  z-index: -1;
}

#note-container {
  border-top: 1px solid gray;
  overflow-y: auto;
  height: 700px;
  margin-top: 50px;
}

#note-links {
  color: #1a1a1a;
  border-bottom: 1px solid gray;
  height: 50px;
  width: 245px;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

#note-links:hover {
  background-color: rgb(87, 87, 87);
}

#note-link {
  text-decoration: none;
  color: black;
}
