@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto&display=swap');

body{
    overflow: hidden;
}

#body {
    font-family: 'Roboto', sans-serif;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

#hompage-h1 {
    margin-top: 20px;
    font-size: 53px;
    letter-spacing: 3px;
    margin: 0;
}

#homepage-text {
    font-size: 24px;
    font-weight: 400;
    margin-top: 25px;
}

#homepageButt {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    border-radius: 3px;
    letter-spacing: 1.5px;
    font-size: 16px;
    padding: 16px 80px;
    background-color: #00a82d;
    transition-duration: .2;
}

#homepageButt:hover {
    background-color: #0cca3f;
    transition-duration: .2s;
    transition-property: background-color;
}

.homepage-img {
    height: 550px;
    width: 800px;
    margin-top: 50px;
    background-image: url('./task.png');
    background-size: contain;
    background-repeat: no-repeat;

}

#img-text-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#text-container {
    font-size: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 125px;
}

#text-container > * {
    margin: 0;
}

#text-container > p {
    margin-bottom: 50px;
}

#text-container > h4 {
    margin-bottom: 10px;
}


/* MOBILE */
@media screen and (max-width: 850px) {
  #hompage-h1 {
    font-size: 33px;
  }

  #homepage-text {
    font-size: 22px;
}

#img-text-container {
  flex-direction: column;
}

.homepage-img {
  height: 550px;
  width: 95vw;
  margin-top: 50px;
  background-image: url('./task.png');
  background-size: contain;
  background-repeat: no-repeat;
}
body{
  overflow: auto;
}

}
