#notebooks {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    color: rgb(226, 226, 226);
    position: absolute;
    background-color: #1a1a1a;
    min-width: 270px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
    margin: 0;
    left: 0px;
    top: 0;
    height: 100vh;
    z-index: 10;
}

#notebook-links {
  color: rgb(226, 226, 226);
  height: 50px;
  width: 245px;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

#notebook-links:hover {
  background-color: rgb(87, 87, 87);
}

.error-mssg {
  color: red;
  font-size: 13px;
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-top: -15px;
  width: 250px;
  text-align: center;
}

.delete {
  margin-right: 10px;
  cursor: pointer;
}

#notebook-container {
  display: flex;
  align-items: center;
  border-bottom: .5px solid gray;
  background-color: blue;
  width: 250px;
}
