#notebooks {
    position: absolute;
    left: 0;
    top: 0;
    width: 200px;
    height: 100vh;
    font-family: "Roboto", sans-serif;
    color: rgb(226, 226, 226);
    background-color: #1a1a1a;
    width: 240px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0;
    margin: 0;
    left: 0px;
    top: 0;
    height: 100vh;
    z-index: 10;
    background-color: red;
    padding-left: 10px;
}

#user {
  color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#user-icon {
  border: none;
  background-color: green;
  font-size: 30px;
  cursor: pointer;
  transition-duration: .2s;
  color: rgb(226, 226, 226);
  display: flex;
  align-items: center;
  padding: 0;

}
#user-icon:hover {
  /* color: rgb(177, 31, 31) */
}


#notebook-links {
  color: rgb(226, 226, 226);
  height: 50px;
  width: 245px;
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

.error-mssg {
  color: red;
  font-size: 13px;
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-top: -15px;
  width: 250px;
  text-align: center;
}

.delete {
  margin-right: 10px;
  cursor: pointer;
}

#notebook-container {
  display: flex;
  align-items: center;
  border-bottom: .5px solid gray;
  background-color: blue;
  z-index: 10000000;
}

#notebook-container:hover {
  background-color: rgb(87, 87, 87);
}
