#notebooks {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: rgb(226, 226, 226);
  background-color: #1a1a1a;
  width: 240px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  left: 0px;
  top: 0;
  height: 100vh;
  z-index: 10;
  padding-left: 10px;
  padding-right: 10px;
}

#user {
  color: rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-icon {
  border: none;
  background-color: transparent;
  font-size: 30px;
  cursor: pointer;
  transition-duration: 0.2s;
  color: rgb(226, 226, 226);
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
#user-icon:hover {
  /* color: rgb(177, 31, 31) */
}

#notebook-links {
  color: rgb(226, 226, 226);
  height: 50px;
  /* width: 245px; */
  font-size: 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
}

.error-mssg {
  color: red;
  font-size: 13px;
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-top: 15px;
}

.delete {
  margin-right: 10px;
  cursor: pointer;
  border: none;
  align-self: flex-end;
  color: rgb(255, 255, 255);
  background-color: rgb(233, 94, 94);
  padding: 5px;
  border-radius: 5px;
  font-size: 13px;
  letter-spacing: 0.5px;
}

#edit-notebook-input {
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 5px !important;
  /* height: 20px; */
  border: 1px solid rgba(128, 128, 128, 0.281);
}

#notebook-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 3;
  width: 250px;
  border-bottom: 1px solid transparent;
}

#notebook-container:hover {
  background-color: #404040;
}

.highlight-notebook {
  margin-left: -10px;
  width: 260px !important;
  border-bottom: 1px solid rgb(226, 226, 226) !important;
}

#notebook-edit-btn {
  color: rgb(226, 226, 226);
  font-size: 23px;
  cursor: pointer;
  z-index: 100;
}

#notebook-edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  position: absolute;
  margin-top: 190px;
  border-radius: 5px;
  width: 235px;
  height: 100px;
  padding: 15px;
  color: #1a1a1a;
}

#notebook-edit-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  width: 100%;
}

#notebook-edit-form > * {
  padding: 0;
  margin: 0;
}

#edit-notebook-btn {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 24px;
  color: #1a1a1a;
  display: flex;
  cursor: pointer;
  z-index: 5;
}

#delete-notebook-btn,
#delete-notebook-btn-disabled {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 23px;
  color: #1a1a1a;
  display: flex;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

#delete-notebook-btn-disabled {
  color: lightgray;
  cursor: not-allowed;
}

.close-edit-form > svg {
  font-size: 19px !important;
}

#delete-notebook-btn:hover {
  color: red;
}

/* NOTEBOOK CREATE */
#create-notebook-btn {
  color: rgb(226, 226, 226);
  background-color: #00a82d;
  border: none;
  border-radius: 20px;
  height: 36px;
  justify-content: left;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

#user-btn-arrow-create {
  color: rgb(226, 226, 226);
  margin-right: 5px;
  font-size: 20px;
}

#notebook-text-container {
  display: flex;
  align-items: center;
}

#notebook-text-container > * {
  margin-left: 5px;
  font-size: 20px;
}

#notebook-text-container > p {
  margin-left: 5px;
  font-size: 15px;
}

#create-notebook-input {
  border: none;
  border-radius: 20px;
  justify-content: left;
  margin-top: 5px;
  outline: none;
  padding: 0;
  padding-left: 10px;
  height: 20px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  height: 35px;
}

#create-notebook-submit {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0;
  margin: 0;
  margin-left: 15px;
  font-size: 23px;
  display: flex;
  align-items: center;
  color: rgb(226, 226, 226);
  cursor: pointer;
}

#create-notebook-form {
  align-items: center;
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.errors-modal {
  color: red;
  font-size: 12px;
  margin: 0;
}


#close-delete-btns {
  margin-left: auto;
  margin-top: -10px;
}

#disabled-msg {
  color: red;
  position: absolute;
  font-size: 14px;
  margin-top: -100px;
}
