@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Roboto&display=swap');

#nav {
    background-color: #292929;
    color: rgb(235, 235, 235);
    display:flex;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: bold;
    height: 75px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
}

#nav-inner-container {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
    width: 70%;
    align-items: center;

}

li > * {
    display: inline-block;
    margin-right: 30px;
    text-decoration: none;
    color: rgb(235, 235, 235);

}

.underline {
    transition-duration: .5s;
}

.focus-color:hover{
    color: rgb(184, 184, 184);
}


/* bandaid - need to find what is causing margin */
#bandaid {
    margin-left: -40px;
}

#title {
    margin-right:50px;
    font-size: 23px;
}

#signupButt {
    color: rgb(235, 235, 235);
    font-weight: bold;
    border: 1px solid rgb(235, 235, 235);
    font-size:16px;
    background-color: transparent;
    padding: 5px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: .2s;
}

#loginButt {
    transition-duration: .2s;
    color: #292929;
    width: 100px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    border:solid 1px transparent;
}

#signupButt:hover {
    background-color: rgb(235, 235, 235);
    color: #292929;

}

#loginButt:hover {
    color: rgb(78, 78, 78);
}

#demo {
    color: rgb(235, 235, 235);
    font-weight: bold;
    border: 1px solid rgb(235, 235, 235);
    font-size:16px;
    background-color: transparent;
    padding: 5px;
    width: 100px;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: .2s;
}

#demo:hover
{
    background-color: rgb(235, 235, 235);
    color: #292929;

}

#user-btn-username {
  font-size: 13px;
  margin-left: 15px;
}

#user-btn-arrow {
  font-size: 13px;
  margin-left: 15px;
}

#user-modal-check {
  font-size: 23px;
  margin-right: 15px;
}

.profile-dropdown > p,
.profile-dropdown > div,
.profile-dropdown > li > button
{
  padding-left: 15px;
}

.social-links {
  display: auto;
}

#burger {
  display: none;
}

/* MOBILE */
@media screen and (max-width: 850px) {
  .social-links {
    display: none;
  }

  #loginButt {
    margin-bottom: 5px;
  }

  #burger {
    z-index: 10;
    display: block;
  }

  #login-btn-container {
    position: absolute;
    border-radius: 5px;
    right: 100px;
    top: 50px;
    padding: 15px;
    background-color: rgb(68, 67, 67);
    box-shadow: rgba(95, 95, 95, 0.1.75) 0px 2px 6px 0px;
  }

}
